@model Desastres.Web.Models.EmergenciaViewModel

@{
    ViewData["Title"] = "Reportar Emergencia";
}

<h1>Reporte</h1>

<h4>Emergencia</h4>
<hr />
<h6>Fecha: @Model.fecha</h6>
<h6>Hora: @Model.hora</h6>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DesastresId" class="control-label"></label>
                <select asp-for="DesastresId" asp-items="Model.Desastres" class="form-control"></select>
                <span asp-validation-for="DesastresId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoDesastre" class="control-label"></label>
                <input asp-for="FotoDesastre" class="form-control" type="file" />
                <span asp-validation-for="FotoDesastre" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="hidden" asp-for="FechaIncidente" />
                <input type="submit" value="Crear" class="btn btn-primary" />               
            </div>
        </form>
    </div>
</div>



